<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.sirius.componentization">
		<component
			class="org.eclipse.xtext.example.fowlerdsl.viewpoint.Activator"
			id="org.eclipse.xtext.example.fowlerdsl.viewpoint"
			name="fowlerdsl"/>
	</extension>
	
	<extension point="com.altran.general.integration.xtextsirius.xtextDirectEdit">
		<xtextDirectEditModel
			configClass="org.eclipse.xtext.example.fowlerdsl.viewpoint.xtextsirius.editPart.EditPartConfigurationFowlerdsl"
			identifier="EventNode"
			semanticType="org.eclipse.xtext.example.fowlerdsl.viewpoint.EObject4"/>
	</extension>
	
	<extension point="com.altran.general.integration.xtextsirius.xtextProperty">
		<xtextPropertyModel
			configClass="org.eclipse.xtext.example.fowlerdsl.viewpoint.xtextsirius.eef.EefConfigurationFowlerdsl"
			identifier="EventGuardId"/>
		<xtextPropertyValue
			configClass="org.eclipse.xtext.example.fowlerdsl.viewpoint.xtextsirius.eef.EefConfigurationHtml"
			identifier="StateDescriptionId"
			multiLine="true"
			prefixText="&lt;html&gt;&lt;head&gt;&lt;title&gt;t&lt;/title&gt;&lt;/head&gt;&lt;body&gt;"
			suffixText="&lt;/body&gt;&lt;/html&gt;"/>
	</extension>
</plugin>
