<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated properties-xtext -->
      <factory
            uri="http://altran.com/general/integration/xtextsirius/model/properties/1.0"
            class="com.altran.general.integration.xtextsirius.model.properties.propertiesxtext.provider.PropertiesxtextItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated properties-xtext -->
      <extender
            uri="http://www.eclipse.org/sirius/properties/1.0.0"
            class="com.altran.general.integration.xtextsirius.model.properties.propertiesxtext.provider.PropertiesxtextItemProviderAdapterFactory$PropertiesChildCreationExtender"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated xtext-sirius -->
      <factory
            uri="http://altran.com/general/integration/xtextsirius/model/xtext/1.0"
            class="com.altran.general.integration.xtextsirius.model.xtext.xtextsirius.provider.XtextsiriusItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource
               org.eclipse.emf.edit.provider.IItemStyledLabelProvider"/>
   </extension>

</plugin>
