/XtextsiriusFactory.java
/XtextsiriusPackage.java
/IXtextDescription.java
/IXtextDirectEditDescription.java
/IXtextDirectEditModelDescription.java
/IXtextDirectEditValueDescription.java
/IXtextModelDescription.java
/IXtextPropertyDescription.java
/IXtextPropertyModelDescription.java
/IXtextPropertyValueDescription.java
/IXtextValueDescription.java
