[VERSION]
major = 1
minor = 0
patch = 0
build = <UpdatedDuringBuild-DontChangeLocally>
branch = <UpdatedDuringBuild-DontChangeLocally>
buildtime = <UpdatedDuringBuild-DontChangeLocally>

[CONFIG]
project_name = xtextsirius
artifact_repo_url = https://artifact.manatree.io/artifactory/mde-libs-snapshot-local/xtextsirius
test_file_location = xtextsirius
test_file_extension = .jar

