<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <pluginGroups/>
  <servers>
    <server>
      <id>nexus-p2</id>
      <username>${env.ArtifactStoreUserName}</username>
      <password>${env.ArtifactStorePassword}</password>
    </server>
   </servers>
  <mirrors>
    <mirror>
      <id>nexus-p2</id>
      <name>nexus-p2</name>
      <url>https://nexus-p2.manatree.io/nexus/content/groups/nexus-p2-group/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  <proxies/>
  <profiles/>
  <activeProfiles/>
</settings>
