<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0
                      http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <mirrors>
    <!-- Maven mirrors -->
    <mirror>
      <id>mde-assets-maven-central</id>
      <name>ACIDSpace Maven Central</name>
      <url>https://nexus.acidspace.nl/repository/mde-assets/</url>
      <mirrorOf>central</mirrorOf>
    </mirror>

    <!-- P2 target platform mirrors -->
    <mirror>
      <url>https://nexus.acidspace.nl/repository/eclipse.org-releases-2020-06-202006171000/</url>
      <mirrorOf>https://download.eclipse.org/releases/2020-06/202006171000/</mirrorOf>
      <mirrorOfLayouts>p2</mirrorOfLayouts>
      <layout>p2</layout>
    </mirror>
    <mirror>
      <url>https://nexus.acidspace.nl/repository/eclipse.org-tools-orbit-downloads-drops-R20200529191137-repository/</url>
      <mirrorOf>https://download.eclipse.org/tools/orbit/downloads/drops/R20200529191137/repository/</mirrorOf>
      <mirrorOfLayouts>p2</mirrorOfLayouts>
      <layout>p2</layout>
    </mirror>
    <mirror>
      <url>https://nexus.acidspace.nl/repository/itemis.com-releases-2.1.1/</url>
      <mirrorOf>http://download.itemis.com/updates/releases/2.1.1/</mirrorOf>
      <mirrorOfLayouts>p2</mirrorOfLayouts>
      <layout>p2</layout>
    </mirror>
    <mirror>
      <url>https://nexus.acidspace.nl/repository/eclipse.org-cbi-updates-license/</url>
      <mirrorOf>https://download.eclipse.org/cbi/updates/license/</mirrorOf>
      <mirrorOfLayouts>p2</mirrorOfLayouts>
      <layout>p2</layout>
    </mirror>
    <mirror>
      <url>https://nexus.acidspace.nl/repository/yakindu.com-statecharts-releases-3.5.13/</url>
      <mirrorOf>https://updates.yakindu.org/statecharts/releases/3.5.13/</mirrorOf>
      <mirrorOfLayouts>p2</mirrorOfLayouts>
      <layout>p2</layout>
    </mirror>
    <mirror>
      <url>https://nexus.acidspace.nl/repository/eclipse.org-sirius-updates-releases-6.5.10-2020-06/</url>
      <mirrorOf>https://download.eclipse.org/sirius/updates/releases/6.5.1/2020-06/</mirrorOf>
      <mirrorOfLayouts>p2</mirrorOfLayouts>
      <layout>p2</layout>
    </mirror>
  </mirrors>

  <servers>
    <!-- Deployment credentials -->
    <server>
      <id>acidspace-repository-manager</id>
      <configuration>
        <timeout>10000</timeout>
      </configuration>
      <username>${env.TECHNICAL_USER}</username>
      <password>${env.TECHNICAL_PASSWORD}</password>
    </server>

    <!-- Maven mirrors -->
    <server>
      <id>mde-assets-maven-central</id>  <!--3-->
      <configuration>
        <timeout>10000</timeout>
      </configuration>
      <username>${env.TECHNICAL_USER}</username>  <!--4-->
      <password>${env.TECHNICAL_PASSWORD}</password>
    </server>

    <!-- ACIDSpace servers in target platform -->
    <server>
      <id>espilce-commons-p2</id> <!--5-->
      <configuration>
        <timeout>10000</timeout>
      </configuration>
      <username>${env.TECHNICAL_USER}</username>
      <password>${env.TECHNICAL_PASSWORD}</password>
    </server>

    <server>
      <id>espilce-periksa-p2</id>
      <configuration>
        <timeout>10000</timeout>
      </configuration>
      <username>${env.TECHNICAL_USER}</username>
      <password>${env.TECHNICAL_PASSWORD}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>mde-assets-maven-central-snapshots</id>
      <properties>
        <tycho.disableP2Mirrors>true</tycho.disableP2Mirrors>
        <tycho.localArtifacts>ignore</tycho.localArtifacts>
      </properties>
      <repositories>
        <repository>
          <id>mde-assets-maven-central</id>
          <url>https://nexus.acidspace.nl/repository/mde-assets/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>mde-assets-maven-central</id>
          <url>https://nexus.acidspace.nl/repository/mde-assets/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>mde-assets-maven-central-snapshots</activeProfile>
  </activeProfiles>
</settings>