<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated eef-xtext -->
      <package
            uri="http://altran.com/general/integration/xtextsirius/model/eef/1.0"
            class="com.altran.general.integration.xtextsirius.model.eef.eefxtext.EefxtextPackage"
            genModel="model/eef-xtext.xcore"/>
   </extension>

</plugin>
