<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated properties-xtext -->
      <package
            uri="http://altran.com/general/integration/xtextsirius/model/properties/1.0"
            class="com.altran.general.integration.xtextsirius.model.properties.propertiesxtext.PropertiesxtextPackage"
            genModel="model/properties-xtext.xcore"/>
   </extension>

</plugin>
