<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Xtext/Sirius Integration Target" sequenceNumber="1573043109">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.10.0.v20190401-0856"/>
      <unit id="org.eclipse.jdt.feature.group" version="3.18.0.v20190605-1800"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.18.0.v20190528-0716"/>
      <unit id="org.eclipse.platform.feature.group" version="4.12.0.v20190605-1801"/>
      <repository location="https://ftp.snt.utwente.nl/pub/software/eclipse/releases/2019-06/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
      <unit id="com.google.guava.source" version="27.1.0.v20190517-1946"/>
      <unit id="com.google.inject" version="3.0.0.v201605172100"/>
      <unit id="com.google.inject.source" version="3.0.0.v201605172100"/>
      <unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
      <unit id="org.apache.commons.lang3.source" version="3.1.0.v201403281430"/>
      <repository location="https://ftp.snt.utwente.nl/pub/software/eclipse/tools/orbit/downloads/drops/R20190602212107/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
      <repository location="https://ftp.snt.utwente.nl/pub/software/eclipse/cbi/updates/license/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.yakindu.base.xtext.utils.gmf.feature.group" version="3.5.8.201910141455"/>
      <unit id="org.yakindu.base.xtext.utils.jface.feature.group" version="3.5.8.201910141455"/>
      <repository location="https://updates.yakindu.com/statecharts/releases/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.eclipse.sirius.doc.feature.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.doc.feature.source.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.interpreter.feature.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.interpreter.feature.source.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.properties.feature.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.properties.feature.source.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.runtime.acceleo.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.runtime.acceleo.source.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.runtime.aql.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.runtime.aql.source.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.runtime.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.runtime.ide.eef.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.runtime.ide.eef.source.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.acceleo.source.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.source.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.runtime.ide.xtext.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.runtime.ide.xtext.source.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.runtime.ocl.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.runtime.ocl.source.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.runtime.source.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.samples.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.samples.source.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.acceleo.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.acceleo.source.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.aql.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.aql.source.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.specifier.ide.ui.source.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.specifier.properties.feature.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.specifier.properties.feature.source.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.tests.support.feature.group" version="6.2.1.201906121203"/>
      <unit id="org.eclipse.sirius.tests.support.source.feature.group" version="6.2.1.201906121203"/>
      <repository location="https://ftp.snt.utwente.nl/pub/software/eclipse/sirius/updates/releases/6.2.1/2019-06/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="true" type="InstallableUnit">
      <unit id="org.espilce.commons.emf.testsupport.feature.feature.group" version="0.3.0.20191030-1455"/>
      <repository id="nexus-p2" location="https://nexus-p2.manatree.io/nexus/content/sites/MDEAssets/espilce-commons/develop"/>
    </location>
  </locations>
</target>
