<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<setAttribute key="additional_plugins">
<setEntry value="com.google.guava:21.0.0.v20170206-1425:default:true"/>
<setEntry value="nl.altran.example.xtext.html.ide:1.0.0.qualifier:default:true"/>
<setEntry value="nl.altran.example.xtext.html.ui:1.0.0.qualifier:default:true"/>
<setEntry value="nl.altran.example.xtext.html:1.0.0.qualifier:default:true"/>
<setEntry value="org.antlr.runtime:3.2.0.v201101311130:default:true"/>
<setEntry value="org.antlr.runtime:4.3.0.v201502022030:default:true"/>
<setEntry value="org.apache.batik.bridge:1.6.0.v201011041432:default:true"/>
<setEntry value="org.apache.batik.css:1.11.0.v20190515-0436:default:true"/>
<setEntry value="org.apache.batik.css:1.6.0.v201011041432:default:true"/>
<setEntry value="org.apache.batik.i18n:1.11.0.v20190515-0436:default:true"/>
<setEntry value="org.apache.batik.util:1.11.0.v20190515-0436:default:true"/>
<setEntry value="org.apache.batik.util:1.6.0.v201011041432:default:true"/>
<setEntry value="org.apache.xmlgraphics:2.3.0.v20190515-0436:default:true"/>
<setEntry value="org.eclipse.equinox.simpleconfigurator.manipulator:2.1.200.v20181123-1405:default:true"/>
<setEntry value="org.eclipse.ui.views.log:1.2.600.v20190519-1034:default:true"/>
<setEntry value="org.objectweb.asm:7.1.0.v20190412-2143:default:true"/>
</setAttribute>
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="askclear" value="true"/>
<booleanAttribute key="automaticAdd" value="false"/>
<booleanAttribute key="automaticValidate" value="true"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<booleanAttribute key="clearws" value="false"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/XtextSirius CustomOdesign"/>
<booleanAttribute key="default" value="false"/>
<stringAttribute key="featureDefaultLocation" value="workspace"/>
<stringAttribute key="featurePluginResolution" value="workspace"/>
<booleanAttribute key="includeOptional" value="false"/>
<stringAttribute key="location" value="${workspace_loc}/../runtime-XtextSiriusCustomOdesign"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dosgi.requiredJavaVersion=1.7 -Xms256m -Xmx1024m"/>
<booleanAttribute key="pde.generated.config" value="false"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="org.eclipse.platform.ide"/>
<setAttribute key="selected_features">
<setEntry value="com.altran.general.integration.xtextsirius.design.feature:default"/>
<setEntry value="com.altran.general.integration.xtextsirius.runtime.feature:default"/>
</setAttribute>
<booleanAttribute key="show_selected_only" value="false"/>
<stringAttribute key="timestamp" value="1503396365581"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="true"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="true"/>
<booleanAttribute key="usefeatures" value="false"/>
</launchConfiguration>
