<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.sirius.properties.core.descriptionConverter">
		<descriptor
			class="com.altran.general.integration.xtextsirius.runtime.converter.sirius5.XtextMultiLineModelDescriptionConverter5"
			description="This extension is used to convert the definition of the Xtext Multi-line Model Widget."
			id="com.altran.general.integration.xtextsirius.runtime.converter.sirius5.xtextMultiLineModelDescriptionConverter"
			label="Sirius Extension Xtext Multi-line Model Widget Converter"
		/>
		<descriptor
			class="com.altran.general.integration.xtextsirius.runtime.converter.sirius5.XtextMultiLineValueDescriptionConverter5"
			description="This extension is used to convert the definition of the Xtext Multi-line Value Widget."
			id="com.altran.general.integration.xtextsirius.runtime.converter.sirius5.xtextMultiLineValueDescriptionConverter"
			label="Sirius Extension Xtext Multi-line Value Widget Converter"
		/>
		<descriptor
			class="com.altran.general.integration.xtextsirius.runtime.converter.sirius5.XtextSingleLineModelDescriptionConverter5"
			description="This extension is used to convert the definition of the Xtext Single-line Model Widget."
			id="com.altran.general.integration.xtextsirius.runtime.converter.sirius5.xtextSingleLineModelDescriptionConverter"
			label="Sirius Extension Xtext Single-line Model Widget Converter"
		/>
		<descriptor
			class="com.altran.general.integration.xtextsirius.runtime.converter.sirius5.XtextSingleLineValueDescriptionConverter5"
			description="This extension is used to convert the definition of the Xtext Single-line Value Widget."
			id="com.altran.general.integration.xtextsirius.runtime.converter.sirius5.xtextSingleLineValueDescriptionConverter"
			label="Sirius Extension Xtext Single-line Value Widget Converter"
		/>
	</extension>
</plugin>
