<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.eclipse.xtext.example.fowlerdsl.viewpoint2.Activator"
               id="org.eclipse.xtext.example.fowlerdsl.viewpoint2"
	       name="viewpoint2">
    </component>
  </extension>
</plugin>
