<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.altran.nl/example/xtext/html/HtmlLang"
			class = "nl.altran.example.xtext.html.htmlLang.HtmlLangPackage"
			genModel = "model/generated/HtmlLang.genmodel" />
	</extension>
</plugin>
