<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
		<editpartProvider 
			class="com.altran.general.integration.xtextsirius.runtime.editpart.ui.XtextSiriusEditPartProvider">
			<Priority name="High"/>
		</editpartProvider>
	</extension>

</plugin>
