<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="xtextProperty" name="Xtext-enabled Property" schema="schema/xtextProperty.exsd"/>
	<extension-point id="xtextDirectEdit" name="Xtext-enabled Direct Edit" schema="schema/xtextDirectEdit.exsd"/>
	
	<extension point="org.eclipse.eef.ide.ui.eefLifecycleManagerProvider">
		<descriptor
			class="com.altran.general.integration.xtextsirius.eef.internal.XtextSiriusEefLifecycleManagerProvider"
			description="description"
			id="com.altran.general.integration.xtextsirius.descriptor1"
			label="label"/>
	</extension>

	<extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
		<editpartProvider 
			class="com.altran.general.integration.xtextsirius.editpart.internal.XtextSiriusEditPartProvider">
			<Priority name="High"/>
		</editpartProvider>
	</extension>
</plugin>
