<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="xtextsirius.design.Activator"
               id="xtextsirius.design"
	       name="xtextsirius">
    </component>
  </extension>
</plugin>
